@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;

.separator {
  width: 100%;
  height: $separator-colorful-height;
  @include linear-gradient(90deg, $color-primary, $color-complementary);
}
