@use "../../components/Avatar/style" as *;
@use "../../components/Breadcrumbs/style" as *;
@use "../../components/EntitySettings/style" as *;
@use "../../components/FdpFooter/style" as *;
@use "../../components/FdpHeader/style" as *;
@use "../../components/Item/style" as *;
@use "../../components/MembershipBadge/style" as *;
@use "../../components/EntityMetadata/style" as *;
@use "../../components/Page/style" as *;
@use "../../components/SearchField/style" as *;
@use "../../components/Separator/style" as *;
@use "../../components/ShaclForm/style" as *;
@use "../../components/StatusFlash/style" as *;
@use "../../components/VersionInfoTable/style" as *;
