@use "../variables" as *;
@use "../mixins" as *;
@use "../typography" as *;

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  @include typography-default-32-bold;
  margin-top: $space-md;
  margin-bottom: $space-md;
}

h2 {
  @include typography-default-24-bold;
  margin-top: $space-lg;
  margin-bottom: $space-md;
}

h3 {
  @include typography-default-18-semibold;
  margin-top: $space-md;
  margin-bottom: $space-sm;
}

body {
  background: $color-background;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

.prism-editor-wrapper {
  @include border-radius($border-radius-small);
  background: $color-background-highlighted;
  background-color: $color-background-highlighted;
  border: 1px solid $color-separator;
  padding: $space-sm $space-md;
}

.prism-editor-wrapper .prism-editor__container,
.prism-editor-wrapper .prism-editor__textarea,
.prism-editor-wrapper .prism-editor__code,
.prism-editor-wrapper .prism-editor__editor {
  background: transparent !important;
  background-color: transparent !important;
  border: none;
}

a {
  cursor: pointer;
  color: $color-primary;
  text-decoration: none;

  &:hover,
  &:focus-visible {
    color: $color-primary-lighter;
    text-decoration: underline;
  }

  &.disabled {
    cursor: not-allowed;
    opacity: .5;
    color: $color-primary;
  }
}

.color-danger {
  color: $color-danger;

  &:hover {
    color: $color-danger-lighter;
  }

  &.disabled {
    color: $color-danger;
  }
}

.loader {
  color: #aaa;
  text-align: center;
  margin: 3rem 0;
  opacity: 1;
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s; /* Firefox < 16 */
  -ms-animation: fadein 3s; /* Internet Explorer */
  -o-animation: fadein 3s; /* Opera < 12.1 */
  animation: fadein 3s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
