@use "../../scss/variables" as *;
@use "../../scss/mixins" as *;
@use "../../scss/typography" as *;

.index-detail {
  .entry-header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  td {
    max-width: 20rem;
  }
}
