@use "../../scss/mixins" as *;
@use "../../scss/typography" as *;
@use "../../scss/variables" as *;


.membership-badge {
  @include typography-light-14;
  @include border-radius($border-radius-full);
  border: 1px solid $color-text-light;
  display: inline-block;
  padding: $space-xs $space-sm;
}
