name: test and build

on:
  push:
    branches:
      - develop
  pull_request:
  workflow_dispatch:

concurrency:
  # prevent duplicate runs
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        # todo: upgrade to latest supported LTS node version
        # https://nodejs.org/en/about/previous-releases#release-schedule
        node: [16]

    steps:
      - # https://github.com/actions/checkout
        name: Checkout repo
        uses: actions/checkout@v4

      - # https://github.com/actions/setup-node
        name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'

      - name: Install dependencies from package-lock.json
        run: npm clean-install

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      # todo: without tests this does not do much
